sudo: false
language: node_js
node_js:
- '8'

script:
- npm run build

deploy:
  provider: script
  script: npm run deploy -- --repo https://$GITHUB_TOKEN@github.com/ggrigoriy/year-view-calendar.git --silent
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
  keep-history: true
  local-dir: build
  on:
    branch: calendar
