.Calendar {
    font-family: Helvetica, Arial, sans-serif;
}

@media (min-width: 1450px)  {
    .Calendar {
        display: grid;
        grid-template-columns: 1fr 250px;
    }

    .Calendar-Legend.Calendar-Legend {
        columns: 1;
    }
}

.Calendar-Year {
    display: grid;
}

.Calendar-Legend {
    margin-top: 64px;
}

.Calendar-LegendList {
    margin: 0 0 20px;
}

.Calendar-LegendItem {
    position: relative;

    font-size: 50px;
    line-height: 24px;
    text-indent: -14px
}

.Calendar-LegendItem_passed {
    opacity: .5;
}

.Calendar-LegendItem_markToday {
    margin-top: 16px;
    padding-top: 6px;
}

.Calendar-LegendItem_markToday::before {
    position: absolute;
    top: -2px;
    left: -38px;

    width: 100%;

    content: "";

    border-top: 1px dashed #f00;
}

.Calendar-LegendItemText {
    position: relative;
    top: -2px;

    font-size: 14px;
    line-height: 1.2em;
    vertical-align: middle;

    color: #000;
}

@media (min-width: 600px)  {
    .Calendar-Year {
        grid-template-columns: 50% 50%;
    }

    .Calendar-Legend {
        columns: 2;
    }
}

@media (min-width: 900px)  {
    .Calendar-Year {
        grid-template-columns: 33% 33% 33%;
    }

    .Calendar-Legend {
        columns: 3;
    }
}

@media (min-width: 1200px)  {
    .Calendar-Year {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .Calendar-Legend {
        columns: 4;
    }
}

.Calendar-Month {
    width: 20%;
}

.Calendar-MonthName {
    font-weight: 200;
    color: #ccc;
}

.Calendar-MonthTable {
    text-align: center;
}

.Calendar-Month {
    position: relative;
}

.Calendar-Day_otherMonth {
    visibility: hidden;
}

.Calendar-Day_current {
    outline: 2px solid rgba(255, 0, 0, 0.5);
}

.Calendar-DayText {
    padding: 8px 10px;
}

.Calendar-Day_passed .Calendar-DayText {
    opacity: .5;
}

.Calendar-Day_hasEvents .Calendar-DayText {
    color: #fff;
    /* mix-blend-mode: difference; */
}

.Calendar-DayInfo {
    position: absolute;
    z-index: 1;
    left: 0;

    display: none;

    min-width: 240px;
    padding: 20px;

    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);

    text-align: left;
    color: #000;
}

.Calendar-DayInfoSummary {
    margin: 1.5em 0 .7em;

    font-weight: normal;
}

.Calendar-DayInfoSummary:first-child {
    margin-top: 0;
}

.Calendar-Day:hover .Calendar-DayInfo,
.Calendar-Day:focus .Calendar-DayInfo {
    display: block;
}

.Calendar-DaysOfWeek {
    color: #ccc;
}
